@keyframes MoveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }


    100% {
        opacity: 1;
        transform: translateX(0);        
    }
}

@keyframes MoveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }


    100% {
        opacity: 1;
        transform: translateX(0);        
    }
}

@keyframes MoveInUp {
    0% {
        opacity: 0;
        transform: translateZ(10rem);
        
    }

    40% {
        transform: translateX(5rem);
    }

    100% {
        opacity: 1;
        transform: translateZ(0);        
    }
}

@keyframes MoveInDown {
    0% {
        opacity: 0;
        transform: translateY(5rem);
        
    }


    100% {
        opacity: 1;
        transform: translateY(0);        
    }
}